/****** Style *******/

*{
    margin:0;
    padding:0;
}
#background{
    position: fixed;
    bottom: 0;
    left:0;
    width:auto;
    min-width: 100%;
    max-height: 45%;
    z-index: -1;
    margin-bottom: -3em;
    height: 43%;
}
@media(max-width:995px){
    #background{
        display:none;
        height:0;
    }
    #pageTop{
        height:auto;
    }
    .mapsContainer{
        display:none;
    }
    #mapsLink{
        display:block;
        color: white;
    }
    #menu{
        margin-top: 2em;
    }
    .buttonContainer, .buttonContainer .btn{
        width:100%;
    }
    #buttonContainerM{
        display: block;
    }
    #pageTop .col-md-6{
        float: right;
    }
}

a{
    color: #3e3e3e;
}
a:hover{
    color:#4ee166;
}
p, a, h1, h2, h3{
    font-family: "Exo 2";
    color:gray;
}
.wrapper p{
    margin-top: 1em;
}

.red{
    color: red;
}
/************/


#logo{
    width:100%;
}
#logoContainer{
    padding:0 20% 0 20%;
    margin: 0 auto 5% auto;
}

.buttonContainer .btn{
    margin-top: 4em;
    width: 80%;
    height: 4em;
}
#buttonContainerM{
    display:none;
}
.button a{
    font-size: 2em;
}

h1{
    color:#2f2f2f;
}
body{
    background-color: #f7f8f8;
    height:100%;
}
.wrapper {
    
}

.topBar {
    width:100%;
    height: auto;
}
.topBar a{
    float: right;
}
.topBar a{
    margin: 0.4em 1em 0 0;
    font-size: 0.9em;
    text-decoration: none;
}

#toTop{
    text-decoration: none;
    font-size: 2em;
    float: right;
    margin:0.4em 0 0 1em;
    padding: 0.2em 0.7em 0.2em 0.7em;
    border-radius: 7em;
    display: none;
    background-color: #f7f8f8;
    z-index: 1;
}
#toTop.fixed {/* for js */
    display: block;
    position: fixed;
    top: 0;
}
.topBar.active{
    text-decoration: underline;
}

#buttonContainer p{
    color:#b9b9b9;
}
#toTop:hover{
    text-decoration: none;
}
#menu{
    text-align: center;
    margin-bottom: 2em;
    margin-right: 4em;
}
#menu a{
    margin:1em;
}

/* Content */

#mapsLink{
    display:none;
}



/* PAGES */

#pageTop{
    height: 100%;
}
#pageTop p, #pageTop h2, .pageLight p, .pageLight h2{
    color:#363636;
}
#pageTop{
    font-size: 1.1em;
}

.page{
    padding: 3.5em 0 2.5em 0;
}
.pageDark {

    background-color: #666666;
}
.pageDark h1, .pageDark h2, .pageDark p{

    color: white;
}


.pageLight {
    background-color: #f7f8f8;
    background-color: rgba(247, 248, 248, 0.982);
}

.pageGreen {
    background-color: #58ba57;
}
.pageGreen h2, .pageGreen p{
    color: black;
}


footer{
    background-color:white;
}